<header class="bg-main-bg bg-opacity-100 backdrop-blur-sm w-full h-12 flex items-center space-x-2 top-0 sticky z-40 shadow-lg px-16">

    <!-- Logo -->
    <div>
        <a routerLink="/home">
            <h3 class="font-red-hat-display font-bold text-shadow">Tiago Barracha</h3>
        </a>
    </div>

    <!-- Router Links -->
    <div class="flex-1 px-4 space-x-4">
        <a routerLink="/home">About</a>
        <a routerLink="/home">Contact</a>
    </div>

    <!-- Social Links -->
    <div class="space-x-2">
        <a routerLink="/home">CV</a>
        <a routerLink="/home">Github</a>
        <a routerLink="/home">LinkedIn</a>
    </div>

    <app-theme-toggle></app-theme-toggle>
</header>