<section 
    class="relative rounded-lg shadow-xl shadow-slate-600/20 overflow-hidden w-full h-48 transition-all duration-300 group"
>
    <!-- Background -->
    <div
        class="absolute inset-0 h-full w-full hover:shadow-slate-800/20 transition-all duration-300"
    >
    </div>

    <!-- Current Image -->
    <img
        [src]="project.images?.[currentImageIndex]"
        [alt]="project.name"
        class="w-full h-full object-cover scale-110 group-hover:scale-100 transition-transform duration-300"
        *ngIf="project.images?.length; else noImage"
    >

    <!-- Select Button -->
    <button
        class="absolute inset-0 h-full w-full"
        (click)="selectProject()"
    >
    </button>

    <!-- Previous Button -->
    <button
        class="absolute top-0 left-0 h-full w-12 flex items-center justify-center
        text-transparent hover:text-white
        hover:bg-gradient-to-r hover:from-black/10 hover:to-transparent
        transition-all duration-300 drop-shadow-lg"
        (click)="previousImage()"
        *ngIf="project.images && project.images.length > 1"
        [innerHTML]="iconService.getSanitizedIcon(iconService.icons.ArrowLeft)"
    >
    </button>

    <!-- Next Button -->
    <button
        class="absolute top-0 right-0 h-full w-12 flex items-center justify-center
        text-transparent hover:text-white
        hover:bg-gradient-to-l hover:from-black/10 hover:to-transparent
        transition-all duration-300 drop-shadow-lg"
        (click)="nextImage()"
        *ngIf="project.images && project.images.length > 1"
        [innerHTML]="iconService.getSanitizedIcon(iconService.icons.ArrowRight)"
    >
    </button>

    <!-- No Image Fallback -->
    <ng-template #noImage>
        <div class="w-full h-full flex items-center justify-center bg-secondary text-primary">
            No Image Available
        </div>
    </ng-template>
</section>

<!-- Project Details -->
<div class="p-4">
    <!-- Project Title -->
    <h3 class="text-xl font-semibold text-primary">{{ project.name }}</h3>
    
    <!-- Project Employer -->
    <p class="text-primary text-sm mt-1">{{ project.employer }}</p>
</div>
