<div class="h-full w-full flex flex-col">
    <!-- Header -->
    <app-header></app-header>

    <!-- Home Page -->
    <section class="w-full h-auto overflow-y-auto">

        <!-- Hero Section -->
        <section class="h-screen w-full px-[20%] flex flex-col space-y-16 items-center justify-center
        font-red-hat-display bg-background text-background-contrast">
            
            <!-- Hello Section -->
            <div class="leading-tight">
                <h1 class="text-3xl text-left  font-bold sm:text-5xl">
                    Hi, I'm Tiago
                </h1>
                <div class="flex text-6xl font-bold bg-main-gradient bg-clip-text text-transparent text-left
                flex-col space-x-0
                sm:flex-row sm:space-x-4 sm:space-y-0
                sm:text-7xl sm:text-center">
                    <span>Fullstack</span> <span>Developer</span>
                </div>

                <div class="flex items-center justify-end space-x-2">
                    <img src="images/portugal.png" alt="Portugal Flag" class="w-8 h-8" />
                    <p class="text-lg sm:text-xl font-pt-serif">Lisbon, Portugal</p>
                </div>
            </div>

            <div class="flex flex-col-reverse sm:flex-col gap-16"> 
                <!-- Tech Stack Section -->
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 md:gap-8 text-primary">
                    <div
                        *ngFor="let technology of technologies" 
                        class="flex items-center justify-center">
                        <app-tech-display
                            class="w-full h-16 border border-primary rounded-lg p-4"
                            [technology]="technology"
                            [size]="'small'">
                        </app-tech-display>
                    </div>
                </div>

                <!-- Socials -->
                <div class="flex flex-row items-center justify-center gap-8 text-primary">    
                    <a href="https://www.linkedin.com/in/tiago-barracha/" target="_blank"  class="w-6">
                        <div [innerHTML]="iconService.getSanitizedIcon(iconService.icons.LinkedIn)">
                        </div>
                    </a>
    
                    <a href="https://github.com/tbarracha" target="_blank" class="w-6">
                        <div [innerHTML]="iconService.getSanitizedIcon(iconService.icons.GitHub)">
                        </div>
                    </a>
    
                    <a href="https://www.youtube.com/@tiagobarracha" target="_blank" class="w-6">
                        <div [innerHTML]="iconService.getSanitizedIcon(iconService.icons.Youtube)">
                        </div>
                    </a>
                    
                    <a href="https://drive.google.com/file/d/1M_Xy8tNV5kpJZ95S5LDqN20h6jWE7oZI/view" target="_blank" class="w-6">
                        <div [innerHTML]="iconService.getSanitizedIcon(iconService.icons.PDF)">
                        </div>
                    </a>
                </div>
            </div>

        </section>

        <!-- Project Section Here -->
        <section>

            <!-- Project Type Selector (sticky) -->
            <section class="sticky top-0 z-10 h-16 w-full overflow-hidden">
                
                <!-- Background Gradient -->
                <div class="absolute inset-0 top-0 w-full h-full bg-gradient-to-b from-slate-600/50 to-transparent">
                </div>
                
                <!-- Half Background -->
                <div class="absolute inset-0 top-0 w-full h-1/2 bg-background">
                </div>

                <!-- bg-gradient-to-b from-background via-background to-transparent -->
                 <div class="relative w-full h-full overflow-visible">
                     <app-project-type-selector class="overflow-visible"></app-project-type-selector>
                 </div>
            </section>
    
            <!-- Project List (scrollable) -->
            <section id="projects" class="w-full py-10 min-h-[calc(100vh-theme(spacing.header-height))]">
                <app-project-list></app-project-list>
            </section>
        </section>

    </section>
</div>
