<header class="w-full h-header-height px-main-padding flex flex-row items-center">
    <!-- Brand Name -->
    <div class="flex-1"></div>
  
    <!-- Navigation Links -->
    <div class="flex-1">
      <nav class="flex items-center justify-center space-x-4">
        <a
          (click)="router.navigate(['/'])"
          class="cursor-pointer hover:underline hover:bg-main-gradient hover:bg-clip-text hover:text-transparent"
        >
          Home
        </a>
        <a
          (click)="navigateToProjects()"
          class="cursor-pointer hover:underline hover:bg-main-gradient hover:bg-clip-text hover:text-transparent"
        >
          Projects
        </a>
        <a
          (click)="router.navigate(['/about'])"
          class="cursor-pointer hover:underline hover:bg-main-gradient hover:bg-clip-text hover:text-transparent"
        >
          About
        </a>
        <a
          (click)="toggleContactCard()"
          class="cursor-pointer hover:underline hover:bg-main-gradient hover:bg-clip-text hover:text-transparent"
        >
          Contact
        </a>

        <div class="h-full flex sm:hidden justify-center">
          <app-theme-toggle></app-theme-toggle>
        </div>
      </nav>
    </div>
  
    <!-- Theme Toggle -->
    <div class="flex-1 flex justify-end">
      <div class="h-full hidden sm:flex justify-center">
        <app-theme-toggle></app-theme-toggle>
      </div>
    </div>
  </header>
  <app-contact-card></app-contact-card>
  