<header class="w-full h-header-height px-main-padding
flex flex-row items-center">
    <!-- Brand Name -->
    <div class="flex-1">
        <a href="/" class="text-lg font-bold font-red-hat-display">Tiago Barracha</a>
    </div>

    <!-- Navigation Links -->
    <div class="flex-1">
        <nav class="flex justify-center space-x-4">
            <a (click)="navigateToProjects()" class="hover:underline cursor-pointer">
                Projects
            </a>
            <a [routerLink]="['/about']" routerLinkActive="underline" class="hover:underline">
                About
            </a>
            <a [routerLink]="['/contact']" routerLinkActive="underline" class="hover:underline">
                Contact
            </a>
        </nav>
    </div>

    <!-- Theme Toggle -->
    <div class="flex-1 flex justify-end">
        <div class="h-full flex justify-center">
            <app-theme-toggle></app-theme-toggle>
        </div>
    </div>
</header>
