<div
  class="bg-background text-background-contrast text-center overflow-hidden
  rounded-full cursor-pointer relative flex items-center justify-center"
  (click)="onClick()"
  [style.width.px]="calculatedWidth">
  
  <!-- Button Content -->
  <div
    class="px-4 py-1 hover:bg-main-gradient hover:text-white relative"
    [class.bg-main-gradient]="isSelected"
    [class.text-transparent]="isSelected"
    [class.bg-clip-text]="isSelected">
    
    <span
      [class.bg-main-gradient]="isSelected"
      [class.bg-clip-text]="isSelected"
      [class.text-transparent]="isSelected"
      [class.font-bold]="isSelected">
      {{ text }}
    </span>
  </div>
</div>

<!-- Shadow Div (used to calculate width) -->
<div
  #shadowDiv
  class="invisible absolute font-bold overflow-hidden text-center rounded-full flex items-center justify-center"
  [style.visibility]="'hidden'"
  [style.position]="'absolute'"
  [style.pointerEvents]="'none'">
  <div
  #shadowDivContent
  class="px-4 py-1">
    <span>
      {{ text }}
    </span>
  </div>
</div>
