<div class="h-full w-full flex flex-col">
    <!-- Header -->
    <app-header></app-header>

    <!-- About Page -->
    <section class="w-full py-16
    flex flex-col space-y-8
    bg-background text-background-contrast
    overflow-y-auto">
            <!-- Tech Stack -->
            <div class="">
                <!-- Title -->
                <app-gradient-title [title]="'Tech Stack'"></app-gradient-title>
            
                <!-- Tech Stack Section -->
                <section class="w-full py-16 px-[20%] text-primary">
                    <div class="flex flex-col space-y-4">
                        <!-- Frontend -->
                        <div class="space-y-4">
                            <div class="grid grid-cols-4 gap-4">
                                <h3 class="text-xl font-semibold">Frontend</h3>
                                <app-tech-display
                                    *ngFor="let technology of techFront"
                                    class="w-full h-16 border border-primary rounded-lg p-4"
                                    [technology]="technology"
                                    [size]="'small'">
                                </app-tech-display>
                            </div>
                        </div>
        
                        <!-- Backend -->
                        <div class="space-y-4">
                            <div class="grid grid-cols-4 gap-4">
                                <h3 class="text-xl font-semibold">Backend</h3>
                                <app-tech-display
                                    *ngFor="let technology of techBack"
                                    class="w-full h-16 border border-primary rounded-lg p-4"
                                    [technology]="technology"
                                    [size]="'small'">
                                </app-tech-display>
                            </div>
                        </div>
        
                        <!-- Miscellaneous -->
                        <div class="space-y-4">
                            <div class="grid grid-cols-4 gap-4">
                                <h3 class="text-xl font-semibold">Misc</h3>
                                <app-tech-display
                                    *ngFor="let technology of techMisc"
                                    class="w-full h-16 border border-primary rounded-lg p-4"
                                    [technology]="technology"
                                    [size]="'small'">
                                </app-tech-display>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Work Ttile -->
            <app-gradient-title [title]="'Experience'"></app-gradient-title>
            
            <!-- Experience Section -->
            <div class=" py-16 space-y-8 px-4 sm:px-[20%]">
                <div *ngFor="let expGroup of experiencesWork" class="grid grid-cols-[auto,auto,1fr] gap-8">
                    <!-- Year Column -->
                    <div class="text-right text-lg font-semibold w-24">
                        {{ expGroup.year }}
                    </div>
                    
                    <!-- Line -->
                    <div class="h-full w-[1px] bg-highlight">
                    </div>
        
                    <!-- Experiences Column -->
                    <div class="space-y-4">
                        <div *ngFor="let experience of expGroup.sections">
                            <h3 class="text-2xl font-semibold" [innerHTML]="experience.title"></h3>
                            <p class="text-lg text-primary" [innerHTML]="experience.description"></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Education Title -->
            <app-gradient-title [title]="'Education'"></app-gradient-title>
            
            <!-- Experience Section -->
            <div class="py-16 space-y-8 px-4 sm:px-[20%]">
                <div *ngFor="let expGroup of experiencesEducation" class="grid grid-cols-[auto,auto,1fr] gap-8">
                    <!-- Year Column -->
                    <div class="text-right text-lg font-semibold w-24">
                        {{ expGroup.year }}
                    </div>
                    
                    <!-- Line -->
                    <div class="h-full w-[1px] bg-highlight">
                    </div>
        
                    <!-- Experiences Column -->
                    <div class="space-y-4">
                        <div *ngFor="let experience of expGroup.sections">
                            <h3 class="text-2xl font-semibold" [innerHTML]="experience.title"></h3>
                            <p class="text-lg text-primary" [innerHTML]="experience.description"></p>
                        </div>
                    </div>
                </div>
            </div>       
    </section>
</div>
