@if (technology != null) {
    <div class="h-full w-full flex flex-row items-center">
        <!-- Icon -->
        <section>
            <div 
              [innerHTML]="getSanitizedIcon()" 
              class="h-8 w-8">
            </div>
        </section>

        <!-- Name & Description -->
        <section class="h-full flex flex-col pl-2 justify-center">
            <h3 
              class="font-semibold text-sm">
              {{ technology.name }}
            </h3>
            <p 
              class="text-xs">
              {{ technology.description }}
            </p>
        </section>
    </div>
}
@else {
    <p>Technology not found</p>
}
