<div 
    *ngIf="project"
    class="h-full w-full fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50"
    (click)="closeModal()"
>
    <!-- Modal Content -->
    <div 
        class="relative bg-main-light text-main-dark rounded-xl overflow-hidden shadow-xl w-full h-[90%] mx-8 md:mx-16"
        (click)="$event.stopPropagation()"
    >
        <!-- Close Button -->
        <button 
            class="absolute h-8 aspect-square top-4 right-4 text-white drop-shadow-lg z-[60] rounded-full bg-black/5 hover:bg-main-gradient"
            (click)="closeModal()"
            [innerHTML]="iconService.getSanitizedIcon(iconService.icons.Close)"
        ></button>

        <!-- Content -->
        <div class="w-full h-full flex flex-col md:flex-row">

            <!-- Image Viewer Section -->
            <div class="relative flex-none h-3/5 md:h-full md:w-3/5 flex flex-col bg-black">
                <!-- Image Preview Section -->
                <div class="flex flex-col flex-grow relative overflow-hidden">
                    <img
                        class="flex-grow object-contain max-h-[90%] max-w-full"
                        [src]="project.images?.[currentImageIndex]"
                        [alt]="project.name"
                        *ngIf="project?.images?.length; else noImage"
                    >
                    
                    <!-- Previous Image Button -->
                    <button
                        class="absolute top-0 left-0 h-full w-12 flex items-center justify-center
                        text-transparent hover:text-highlight
                        hover:bg-gradient-to-r hover:from-black/30 hover:to-transparent
                        transition-all duration-300"
                        (click)="previousImage()"
                        *ngIf="project?.images?.length ?? 0 > 1"
                        [innerHTML]="iconService.getSanitizedIcon(iconService.icons.ArrowLeft)"
                    ></button>

                    <!-- Next Image Button -->
                    <button
                        class="absolute top-0 right-0 h-full w-12 flex items-center justify-center
                        text-transparent hover:text-highlight
                        hover:bg-gradient-to-l hover:from-black/30 hover:to-transparent
                        transition-all duration-300"
                        (click)="nextImage()"
                        *ngIf="project?.images?.length ?? 0 > 1"
                        [innerHTML]="iconService.getSanitizedIcon(iconService.icons.ArrowRight)"
                    ></button>

                    <ng-template #noImage>
                        <div class="w-full h-full flex items-center justify-center bg-gray-300 text-primary">
                            No Image Available
                        </div>
                    </ng-template>
                </div>

                <!-- Image Selection Section -->
                <div class="min-h-24 overflow-x-auto overflow-y-hidden flex items-center gap-2 p-2">
                    <div
                        *ngFor="let image of project?.images; let i = index"
                        class="relative w-24 h-20 flex-shrink-0 cursor-pointer overflow-hidden rounded-lg"
                        (click)="selectImage(i)"
                    >
                        <img
                            [src]="image"
                            [alt]="'Thumbnail ' + i"
                            class="w-full h-full object-cover transition-opacity duration-300"
                            [class.opacity-40]="i !== currentImageIndex"
                        >
                    </div>
                </div>
            </div>

            <!-- Project Details Section -->
            <div class="relative flex-grow flex flex-col overflow-y-auto">
                <!-- Project Title -->
                <div class="px-4 pt-4">
                    <h3 class="text-2xl font-semibold text-primary mb-4">{{ project.name }}</h3>
                    <p class="text-sm hidden md:flex">{{ project.date }} | {{ project.employer }}</p>
                </div>

                <!-- Project Details & Navigation -->
                <div class="flex-grow flex flex-col overflow-y-auto">
                    <div class="px-4 pb-4 flex-grow overflow-y-scroll" #detailsContainer>

                        <p class="text-sm flex md:hidden">{{ project.date }} | {{ project.employer }}</p>

                        <!-- Project Details Section -->
                        <div class="space-y-4">
                            <div *ngFor="let section of project.sections">
                                <h4 class="text-lg font-semibold mb-2">{{ section.title }}</h4>
                                <p class="whitespace-pre-line" [innerHTML]="section.content"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="w-full flex justify-between text-highlight">
                        <button 
                            class="px-4 py-2 bg-main-dark hover:bg-main-gradient rounded-tr-lg"
                            (click)="fetchPreviousProject()"
                        >
                            Prev
                        </button>
                        <button 
                            class="px-4 py-2 bg-main-dark hover:bg-main-gradient rounded-tl-lg"
                            (click)="fetchNextProject()"
                        >
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
