<div class="relative w-full pb-[60%] overflow-hidden group hover:shadow-md cursor-pointer"
     (click)="eventService.selectedProjectEvent.emit(project)"
     [@cardAnimation]="{ value: isVisible ? 'showing' : 'hidden', params: { delay: delay } }">
    
    <!-- Image with scaling on hover -->
    <img class="absolute inset-0 object-cover object-center w-full h-full transform scale-110 group-hover:scale-[120%] transition-transform duration-500 ease-in-out" 
         [src]="project.images[0]" 
         alt="Project Image">
    
    <!-- Text overlay -->
    <div class="absolute inset-0 text-white bg-black bg-opacity-50 z-10 transform translate-y-full group-hover:translate-y-0 transition-all duration-500 ease-in-out
    p-2 lg:p-4">
        <p class="font-bold
        text-md md:text-xl lg:text-3xl 2xl:text-4xl">
            {{ project.name }}
        </p>
        <div class="hidden sm:flex space-x-1 sm:pt-2
        text-sm sm:text-md md:text-lg lg:text-xl
        text-ellipsis">
            @for(type of getTypesAndTechnologies(); track type; let last = $last) {
                {{ type }}{{ last ? '' : ',' }}
            }
        </div>
    </div>
</div>
