@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* node theme-sync update */
    /* Theme START */
    --main-dark: #161722;
    --main-light: #EDF2F4;

    --background: #EDF2F4;
    --background-contrast: #161722;

    --primary: #8D99AE;
    --primary-contrast: #EDF2F4;

    --secondary: #D5DCE3;
    --secondary-contrast: #8D99AE;

    --highlight: #f3f4f6;
    --highlight-contrast: #8D99AE;

    --accent: #D80032;
    --accent-contrast: #FFFFFF;

    --scrollbar-bg: #D5DCE3;
    --scrollbar-thumb: #8D99AE;
    --scrollbar-thumb-hover: #B1BBC9;

    --success: #84cc16;
    --success-secondary: #d9f99d;

    --info: #0ea5e9;
    --info-secondary: #bae6fd;

    --warning: #fbbf24;
    --warning-secondary: #fde68a;

    --danger: #ef4444;
    --danger-secondary: #fecaca;
    /* Theme END */
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

// background
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

:host {
    display: inline-block;
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  