@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* node theme-sync update */
    /* Theme START */
    --header: #161722;
    --header-contrast: #EDF2F4;

    --background: #161722;
    --background-contrast: #EDF2F4;

    --footer: #161722;
    --footer-contrast: #FFFFFF;

    --primary: #161722;
    --primary-contrast: #FFFFFF;

    --secondary: #2B2B2B;
    --secondary-contrast: #FFFFFF;

    --highlight: #EDEDED;
    --highlight-contrast: #1C1C1C;

    --accent: #D80032;
    --accent-contrast: #FFFFFF;

    --scrollbar-bg: #EDEDED;
    --scrollbar-thumb: #2B2B2B;
    --scrollbar-thumb-hover: #D80032;

    --success: #84cc16;
    --success-secondary: #d9f99d;

    --info: #0ea5e9;
    --info-secondary: #bae6fd;

    --warning: #fbbf24;
    --warning-secondary: #fde68a;

    --danger: #ef4444;
    --danger-secondary: #fecaca;
    /* Theme END */
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

// background
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}
